* {
  box-sizing: border-box;
}
#board {
  margin: 0 auto;
  width: 100vmin;

  .row {
    height: 10vmin;

    .cell {
      display: inline-block;
      width: 10vmin;
      height: 10vmin;
      background-color: #95a5a6;
      border: solid 1px #ecf0f1;
    }

  }

}
